<div class="row">
    <div class="col-sm-6" class="center">
        <img class="center" src="../../../assets/images/barcelo.jpg" class="card-img-top" alt="imagen no disponible">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{this._hotelesService.getHotel().nombre}}</h5>
                <p class="card-text">{{this._hotelesService.getHotel().direccion}}</p>
                <button type="button" style="margin-right: 10px" class="btn btn-primary btn-lg" routerLink="/reservar" routerLinkActive="active">Reservar</button>
                <br>
                <br>
                <button type="button" class="btn btn-secondary btn-lg" style="background-color: rgb(71, 241, 233)" routerLink="/eventos" routerLinkActive="active">Ver Eventos</button>
                <br>
                <br>
                <button type="button" class="btn btn-secondary btn-lg" style="background-color: green" routerLink="/habitaciones" routerLinkActive="active">Ver Habitaciones</button>


            </div>

        </div>

    </div>
