.center {
    margin: auto;
    width: 50%;
    border: 1px solid white;
    padding: 1px;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 30px;
    /* Added */
}
